# Exercises

In [48]:
# Import pandas
import pandas as pd

In [49]:
# Load the data
data = pd.read_csv('micro_world.csv', engine='python')

In [ ]:
data.columns

## EASY. What is the breakdown of gender per region? Use .groupby().

In [51]:
gender_mapping ={
    1:'male',
    2:'female'
}
data.replace({'gender':gender_mapping})
data.groupby(['regionwb','female']).count()['wpid_random']

regionwb                                            female
East Asia & Pacific (excluding high income)         1          5739
                                                    2          8094
Europe & Central Asia (excluding high income)       1          9872
                                                    2         13190
High income: OECD                                   1         14611
                                                    2         16455
High income: nonOECD                                1          6131
                                                    2          5478
Latin America & Caribbean (excluding high income)   1          6561
                                                    2          9943
Middle East & North Africa (excluding high income)  1          6755
                                                    2          7390
South Asia                                          1          4043
                                                    2          4661
Sub-Saharan Africa (excluding high income)          1         17130
                                                    2         17870
Name: wpid_random, dtype: int64

In [52]:
data.groupby('regionwb')['female'].value_counts()

regionwb                                            female
East Asia & Pacific (excluding high income)         2          8094
                                                    1          5739
Europe & Central Asia (excluding high income)       2         13190
                                                    1          9872
High income: OECD                                   2         16455
                                                    1         14611
High income: nonOECD                                1          6131
                                                    2          5478
Latin America & Caribbean (excluding high income)   2          9943
                                                    1          6561
Middle East & North Africa (excluding high income)  2          7390
                                                    1          6755
South Asia                                          2          4661
                                                    1          4043
Sub-Saharan Africa (excluding high income)          2         17870
                                                    1         17130
Name: female, dtype: int64

In [53]:
data.groupby(['regionwb','female']).mean()['age']

regionwb                                            female
East Asia & Pacific (excluding high income)         1        43.22
                                                    2        42.88
Europe & Central Asia (excluding high income)       1        44.12
                                                    2        46.30
High income: OECD                                   1        49.27
                                                    2        50.27
High income: nonOECD                                1        42.10
                                                    2        44.89
Latin America & Caribbean (excluding high income)   1        41.79
                                                    2        40.60
Middle East & North Africa (excluding high income)  1        39.32
                                                    2        38.31
South Asia                                          1        38.00
                                                    2        36.75
Sub-Saharan Africa (excluding high income)          1        34.26
                                                    2        33.81
Name: age, dtype: float64

## AVERAGE. Per region, compute percentage of population with credit card AND debit card segmented by gender.

Hint:
Columns will be region, % of male with BOTH credit card AND debit card, % of female with BOTH credit card AND debit card

In [54]:
#fin2 debit card
#fin7 credit card

#group by region
#sort by gender
#compute percentage of population with credit AND debit

with_debitcard = data[
    (data['fin2']==1) & (data['fin7']==1)
]
percent_debitcredit = ((len(with_debitcard)/len(data))*100)
percent_debitcredit

17.293752380214688

In [58]:
data['with debit AND credit'] = data.apply(
    lambda x: 1 if x['fin2'] == 1 and x['fin7'] == 1 else None,
    axis = 1
)

In [60]:
data [['fin2','fin7','with debit AND credit']]

        fin2  fin7  with debit AND credit
0          2     2                    NaN
1          2     2                    NaN
2          2     2                    NaN
3          2     2                    NaN
4          2     2                    NaN
...      ...   ...                    ...
154918     2     2                    NaN
154919     1     2                    NaN
154920     1     2                    NaN
154921     1     1                   1.00
154922     1     2                    NaN

[154923 rows x 3 columns]

In [62]:
grouped_data = data.groupby(['regionwb','female'])['wpid_random','with debit AND credit'].count()

C:\Users\Sofia Calvo\AppData\Local\Temp\ipykernel_5736\842697327.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped_data = data.groupby(['regionwb','female'])['wpid_random','with debit AND credit'].count()

In [63]:
grouped_data

                                                           wpid_random  \
regionwb                                           female
East Asia & Pacific (excluding high income)        1              5739
                                                   2              8094
Europe & Central Asia (excluding high income)      1              9872
                                                   2             13190
High income: OECD                                  1             14611
                                                   2             16455
High income: nonOECD                               1              6131
                                                   2              5478
Latin America & Caribbean (excluding high income)  1              6561
                                                   2              9943
Middle East & North Africa (excluding high income) 1              6755
                                                   2              7390
South Asia                                         1              4043
                                                   2              4661
Sub-Saharan Africa (excluding high income)         1             17130
                                                   2             17870

                                                           with debit AND credit
regionwb                                           female
East Asia & Pacific (excluding high income)        1                         491
                                                   2                         430
Europe & Central Asia (excluding high income)      1                        1526
                                                   2                        1568
High income: OECD                                  1                        7443
                                                   2                        7283
High income: nonOECD                               1                        2211
                                                   2                        1651
Latin America & Caribbean (excluding high income)  1                         846
                                                   2                         757
Middle East & North Africa (excluding high income) 1                         391
                                                   2                         202
South Asia                                         1                         104
                                                   2                          61
Sub-Saharan Africa (excluding high income)         1                         764
                                                   2                         503

## DIFFICULT. Compute the following metric per region:

card ownership access gender ratio = % of females with BOTH credit card AND debit card/% of males with BOTH credit card AND debit card

No apparent gender discrepancy if metric approaches 1. Else, there is a discrepancy.

In [ ]:
with_debitcredit = data[
    (data['fin2']==1) & (data['fin7']==1)

In [31]:
female_with_debitcredit = with_debitcredit[
    with_debitcredit['female'] == 2
]

In [32]:
male_with_debitcredit = with_debitcredit[
    with_debitcredit['female'] == 1
]

In [35]:
len(female_with_debitcredit)

12763

In [36]:
len(male_with_debitcredit)

14029

In [37]:
len(female_with_debitcredit)/len(male_with_debitcredit)

0.909758357687647