# Exercises

In [4]:
# Import libraries
import csv
import matplotlib.pyplot as plt
import pandas as pd
import plotly.express as px
import seaborn as sns

In [5]:
# Load the data
data = pd.read_csv('micro_world.csv', engine='python')
data.columns

Index(['economy', 'economycode', 'regionwb', 'pop_adult', 'wpid_random', 'wgt',
       'female', 'age', 'educ', 'inc_q',
       ...
       'receive_wages', 'receive_transfers', 'receive_pension',
       'receive_agriculture', 'pay_utilities', 'remittances', 'pay_onlne',
       'pay_onlne_mobintbuy', 'pay_cash', 'pay_cash_mobintbuy'],
      dtype='object', length=105)

## AVERAGE. Create a bar chart of top 10 countries in terms of % of females with debit card.

In [16]:
# Create another column for debit card ownership
data['has_debit_card'] = data['fin2'].apply(
    lambda x: 1 if x == 1 else 0
    )

# Group the data and apply aggregations
grouped_data = data.groupby(['economy', 'economycode', 'regionwb','female']).agg(
    total_debit_card_owners=('has_debit_card', 'sum'),
    total_population=('wpid_random', 'count')
).reset_index()


grouped_data

,economy,economycode,regionwb,female,total_debit_card_owners,total_population
0,Afghanistan,AFG,South Asia,1,21,500
1,Afghanistan,AFG,South Asia,2,7,500
2,Albania,ALB,Europe & Central Asia (excluding high income),1,126,399
3,Albania,ALB,Europe & Central Asia (excluding high income),2,152,601
4,Algeria,DZA,Middle East & North Africa (excluding high inc...,1,164,512
...,...,...,...,...,...,...
281,West Bank and Gaza,PSE,Middle East & North Africa (excluding high inc...,2,73,598
282,Zambia,ZMB,Sub-Saharan Africa (excluding high income),1,127,413
283,Zambia,ZMB,Sub-Saharan Africa (excluding high income),2,105,587
284,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),1,131,389
285,Zimbabwe,ZWE,Sub-Saharan Africa (excluding high income),2,118,611

In [ ]:
female_data=grouped_data[
    data
]

## DIFFICULT. Create a bubble map to show % of females with debit card per country. Create another showing % of males with debit card per country.

Notice any difference?